<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>Circle</string>
        <key>CFBundleName</key>
        <string>Circle</string>
        <key>CFBundleGetInfoString</key>
        <string>Circle</string>
        <key>CFBundleIconFile</key>
        <string>Circle.icns</string>
        <key>CFBundleIdentifier</key>
        <string>Junho.Circle</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>0.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>release</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>0.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>LSHasLocalizedDisplayName</key>
        <true/>
        <key>LSMinimumSystemVersion</key>
        <string>10.7.0</string>
        <key>NSPrincipalClass</key>
        <string>CStubApplication</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>Supported protocols</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>Circle</string>
                </array>
            </dict>
        </array>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Circle beatmap archive</string>
                <key>LSHandlerRank</key>
                <string>Default</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>circlez</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>application/x-circle-beatmap-archive</string>
                </array>
                <key>LSTypeIsPackage</key>
                <false/>
            </dict>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Circle beatmap</string>
                <key>LSHandlerRank</key>
                <string>Default</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>circle</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>application/x-circle-beatmap</string>
                </array>
                <key>LSTypeIsPackage</key>
                <false/>
            </dict>
        </array>
    </dict>
</plist>
