<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GitHubUsername" value="ojh050118" />
    <add key="GitHubRepoName" value="Circle" />
    <add key="SolutionName" value="Circle" />
    <add key="ProjectName" value="Circle.Desktop" />
    <add key="NuSpecName" value="Circle.Desktop\Circle.nuspec" />
    <add key="IncrementVersion" value="true" />
    <add key="GitHubUpload" value="false" />
    <add key="PackageName" value="Circle" />
    <add key="IconName" value="game.ico" />
    <add key="GitHubAccessToken" value="" />
    <add key="CodeSigningCertificate" value="" />
  </appSettings>
</configuration>